<head>
<%= css :application, :media => 'screen' %>
<%= js  :app %>
</head>
<body>
<div class="units-row">
  <div class="unit-centered unit-40">
    <%= img '/images/header.png' %>
  </div>
</div>
  <div class="units-row">
    <div class="unit-centered unit-40">
      <nav class="nav-tabs">
          <ul>
            <li><a href="<%= path_for(:home) %>">Item 1</a></li>
              <li><span>Item 2</span></li>
              <li><a href="#">Item 3</a></li>
              <li><a href="#">Item 4</a></li>
              <li><a href="#">Item 5</a></li>
          </ul>
    </nav>
    </div>
  </div>
  <div class="units-row">
    <div class="unit-centered unit-40">
          <%=yield%>
    </div>
  </div>
</body>

